#headingBlockCard {
    background-color: lightgray;
    text-align: center; 
}

.btn-Sorting {
    background-color: #FFA903;
    border-color: #FFA903;
    color: black;
}

#btnNewStudent{
    margin-left: 5px;
}

.row{
    display: flex;
}
.column{
    flex: 40%;
    margin: 15px;
    justify-content: center;
}

.peopleCards{
    text-align: center;
}

#formTitle{
    text-align:  center;
}

#submitBlock{
    display: flex;
    justify-content: center;
};

#errorText{
    text-align: center;
    color: red;
}