#headingBlockCard {
    background-color: lightgray;
    text-align: center; 
}

.btn-Sorting {
    background-color: #FFA903;
    border-color: #FFA903;
    color: black;
}

#btnNewStudent{
    margin-left: 5px;
}

#armyBlocks{
    margin: 5px;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    flex: wrap;
}

.peopleCards{
    text-align: center;
}

#formTitle{
    text-align:  center;
}

#errorText{
    display: flex;
    justify-content: center;
    text-align: center;
    color: red;
}

#submitBlock{
    display: flex;
    justify-content: center;
};

